@import url('variables.css');

*{
    margin: 0;
    padding: 0; 
/*     outline: 1px solid tomato;
 */}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
img, video, svg{height: auto; max-width: 100%;}
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}
body{
    background-color: #071917;
}
/******** HEADER *********/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;    
    position: absolute;
    color: #ffff;
    /* height: 70px; */
}
.div__logo img{
/*     background-color: aqua;
    padding: 15px */
    height: 60px;
}
.div__menu{
    /* background-color: blue;
    padding: 15px */
}
.ul__menu{
/*     background-color: red;
    padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
}
.ul__menu li {
    list-style: none;
    font-family: "montserrat-semibold";
}

/* .ul__menu li:nth-child(3) a{   ESTO ES PARA PODER SELECCIONAR UNO POR UNO
    color: red;
}
 */
.ul__menu li a{
    color: #ffff;
    text-decoration: none;
}
.ul__menu li a:hover{
    cursor: pointer;
}

/******** main *******/

.main{
  /*   background-color: rebeccapurple;
    padding: 20px; */
}
.section__home{
    height: 135svh;
    background-position: center 5%;
    background-size: cover;
    /* background-position: center 10%; */
    background-repeat: no-repeat;
    background-image: linear-gradient(#376e4072, #071917)
    , url(../storage/img/background.png) ;
}
.article__home{
    position: relative;
    width: 626px;
    left: 287px;
    height: 360px;
    top: 240px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    line-height: auto;
}
.article__home span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: "montserrat-semibold";
    color: #ffff;
}
.article__home h1{
    font-family: "montserrat-semibold";
    font-size: 70px;
    color: #ffff;
}
.article__home p{
    width: 370px;
    font-family: "montserrat-medium";
    font-size: 20px;
    color: #ffff;
}

.section__icon{
    background-color:#071917;
    display: flex;
    justify-content: space-around;  
}

.section__icon img{
    /* width: 30px; */
}

.section__urban{
    background-color: #071917;
    display: flex;
    position: relative;
    height: 900px;
    justify-content: center;
}

.section__urban img{
    /* background-color: blue; */
    width: 1550px;
    top: 50px;
    height: 848px;
    position: absolute;
    
}

.section__urban h1{
    top: 800px;
    left: 40px;
    position: absolute;
    font-size: 60px;
    z-index: 1;
    color: #ffff;
    font-family: "montserrat-semibold";
}
.section__graphics{
    background-color: #071917;
    display: flex;
    position: relative;
    height: 900px;
    justify-content: center;
}

.section__graphics img{
    /* background-color: blue; */
    width: 1550px;
    top: 50px;
    height: 848px;
    position: absolute;
}

.section__graphics h1{
    top: 800px;
    left: 40px;
    position: absolute;
    font-size: 60px;
    z-index: 1;
    color: #ffff;
    font-family: "montserrat-semibold";
}
.section__art{
    background-color: #071917;
    display: flex;
    position: relative;
    height: 900px;
    justify-content: center;
}

.section__art img{
    /* background-color: blue; */
    width: 1550px;
    top: 50px;
    height: 848px;
    position: absolute;
}

.section__art h1{
    top: 800px;
    left: 40px;
    position: absolute;
    font-size: 60px;
    z-index: 1;
    color: #ffff;
    font-family: "montserrat-semibold";

}

.section__slider {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll; 
    top: 20px;    width: 1500px;
    position: relative;
    article{
        background-color: #145E2A;
        height: 500px;
        width: 350px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 5px 5px 5px #252525;
        flex-shrink: 0;
        border-radius: 20px;
        img{
            top: 25px;
            position: relative;
            width: 300px;
            height: 200px;
        }
        h1{
            justify-content: center;
            display: flex;
            position: relative;
            font-family: "montserrat-semibold";
            top: 60px;
            font-size: 27px;
            width: 400px;
            text-align: left;
            /* left: 30px; */
        }      
        p{
            justify-content: center;
            width: 330px;
            display: flex;
            position: relative;
            top: 70px;
            left: 5px;
            font-family: "Montserrat-Regular";
            font-weight: lighter;
        }
        button{
            justify-content: center;
            display: flex;
            
            position: relative;
            top: 100px;
            color: #071917;
            background-color: #D9D9D9;
            border-radius: 300px;
            width: 130px;
            height: 40px;
            padding: 10px;
            font-family: "Montserrat-Regular";
            border: none;
            cursor: pointer;
            }
    }
}

/********* FOOTER ********/

.section__footer{
    background-color: #071917;
    justify-content: center;
    display: flex;
    position: relative;
    top: 80px;
    left: 10px;
    height: 100px;

}
.section__footer img{
    width: 200px;
}
/******** CELUCO ********/
@media (max-width: 960px){
    .header{
/*         background-color: red;
 */    }
    .ul__menu{
        gap: 15px;
    }
    .section__home{
        
        display: flex;
/*         justify-content: space-around;
 */    }
    .article__home{
        left: 0;
    }
    .section__icon{
        justify-content: space-around;
    }
}

/******** SECOND PAGE ***********/






@media (max-width: 576px){
    header{
        display: flex;
        align-items: ce;
        /* background-color: red; */
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 5px;
        padding-right: 5px;
    }
    .article__home{
        top: 25svh;
        top: 300px;
    }
}