@font-face {
    font-family: "montserrat-semibold";
    src: url(../storage/font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat-medium";
    src: url(../storage/font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../storage/font/Montserrat-Regular.ttf);
}

@font-face {
    font-family:"Montserrat-Light" ;
    src: url(../storage/font/Montserrat-Light.ttf);
}