<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style__blog.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="../storage/img/photo.png" alt="">
        </div>
        <div class="header__nav">
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </div>
        <div class="header__contact">
            <a  href=""><img src="../storage/img/chat.png" alt=""></a>
            <a href=""><img src="../storage/img/perfil.png" alt=""></a>
        </div>  
    </header>
    <main class="main">
        <section class="section__nav">
            <img src="../storage/img/line.png">
            <article class="article__nav">
                <a href="#" class="article__a">Latest Blog</a>
                    <div class="div__nav">
                        <li><a href="">Urban Planning</a></li>
                        <li><a href="">Graphics Design</a></li>
                        <li><a href="">Web Design</a></li>
                        <li><a href="">UX/UI Design</a></li>
                        <li><a href="">Technology</a></li>
                    </div>
            </article> 
                
            <article class="article__home">
                <img src="../storage/img/homeImage.png" class="home__img">
                <div class="div__box">
                    <span>Urban Planning</span>
                    <h2>Lörem ipsum europlande krohiskap
                        panstik, förväntis.  </h2>
                    <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan 
                        al, monoktig härgjord. Supranylingar kask. Geologi byligt 
                        dikapobelt. </p>
                    <a href="#">Read More</a>
                </div>
            </article>
        </section>
        <section class="section__information">
            <h2>Recent Posts</h2>
            <article class="article__card">
                
                <div class="div__card">
                    <img src="../storage/img/cardOne.png" alt="">
                    <h3>Lörem ipsum patt karirenyst</h3>
                    <p>Lörem ipsum patt kar i renyst robotfälla. 
                       Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede.
                       Arat lagen</p>
                    <a href="#">Read More</a>
                </div>
                <div class="div__card">
                    <img src="../storage/img/cardTwo.png" alt="">
                    <h3>Lörem ipsum patt karirenyst</h3>
                    <p>Lörem ipsum patt kar i renyst robotfälla. 
                       Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede.
                       Arat lagen</p>
                    <a href="#">Read More</a>
                </div>
                <div class="div__card">
                    <img src="../storage/img/cardTrge.png" alt="">
                    <h3>Lörem ipsum patt karirenyst</h3>
                    <p>Lörem ipsum patt kar i renyst robotfälla. 
                       Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede.
                       Arat lagen</p>
                    <a href="#">Read More</a>
                </div>
                <div class="div__card">
                    <img src="../storage/img/cardFour.png" alt="">
                    <h3>Lörem ipsum patt karirenyst</h3>
                    <p>Lörem ipsum patt kar i renyst robotfälla. 
                       Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede.
                       Arat lagen</p>
                    <a href="#">Read More</a>
                </div>
                <div class="div__card">
                    <img src="../storage/img/cardFive.png" alt="">
                    <h3>Lörem ipsum patt karirenyst</h3>
                    <p>Lörem ipsum patt kar i renyst robotfälla. 
                       Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede.
                       Arat lagen</p>
                    <a href="#">Read More</a>
                </div>
                <div class="div__card">
                    <img src="../storage/img/cardSix.png" alt="">
                    <h3>Lörem ipsum patt karirenyst</h3>
                    <p>Lörem ipsum patt kar i renyst robotfälla. 
                       Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede.
                       Arat lagen</p>
                    <a href="#">Read More</a>
                </div>
            </article>

        </section>
    </main>    
    <footer>
        <section class="section__footer">
            <div class="div__footer">
                <h2>daily blog</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem 
                    ipsum patt kar i renyst robotfälla. Tregyktig  sana,
                     nuktigt i mandatpingis tes. Analigt anede. </p>
            </div>
            <div class="div__social">
                <a href="https://www.instagram.com/stories/highlights/18015542879451138/?hl=es" target="_blank"><img src="../storage/img/instagram.png" alt=""></a>
                <a href="#"><img src="../storage/img/be.png" alt=""></a>
                <a href=""><img src="../storage/img/linkdin.png" alt=""></a>
                <a href=""><img src="../storage/img/fcebook.png" alt=""></a>
                <a href=""><img src="../storage/img/pinterest.png" alt=""></a>
            </div>
            <div class="div__copy">
                <span>© 2023 dailyblog. All rights reserved.</span>
            </div>
        </section>
    </footer>
</body>
</html>